# Dictionaries 


- Dictionary is an unordered collection of key-value pairs.`

- In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and   value can be of any type.`

- To declare a dictionary, you write dictionaryName = {dictionary key : data}`

In [1]:
my_dict = {'key1':'value1','Key2':'value2','key3':'value3','Key4':'value4'}
my_dict

{'key1': 'value1', 'Key2': 'value2', 'key3': 'value3', 'Key4': 'value4'}

In [2]:
type(my_dict)

dict

In [3]:
list1 = ['value1','value2','value3','value4']
list1

['value1', 'value2', 'value3', 'value4']

In [4]:
type(list1)

list

In [5]:
list1[0]

'value1'

# Selection

- do selction with a key and get Values

In [6]:
my_dict['Key2']

'value2'

In [ ]:
## using `get( )`

In [7]:
my_dict.get('Key2')

'value2'

In [9]:
# 
emp = {'Name':['Aravind','Raju','Jayant'],'Age':[35,20,27],
       'Designation':['DS','DC','JDS']}

In [10]:
emp

{'Name': ['Aravind', 'Raju', 'Jayant'],
 'Age': [35, 20, 27],
 'Designation': ['DS', 'DC', 'JDS']}

In [11]:
len(emp)

3

# Add a new key value to a dict

In [12]:
emp['Subject'] = 'ML AI STATS'.split()
emp

{'Name': ['Aravind', 'Raju', 'Jayant'],
 'Age': [35, 20, 27],
 'Designation': ['DS', 'DC', 'JDS'],
 'Subject': ['ML', 'AI', 'STATS']}

In [13]:
emp['Name']

['Aravind', 'Raju', 'Jayant']

In [14]:
emp['Designation']

['DS', 'DC', 'JDS']

In [15]:
emp.get('Age')

[35, 20, 27]

In [16]:
emp

{'Name': ['Aravind', 'Raju', 'Jayant'],
 'Age': [35, 20, 27],
 'Designation': ['DS', 'DC', 'JDS'],
 'Subject': ['ML', 'AI', 'STATS']}

In [17]:
emp['Age'] = [25,99,44,25]

In [18]:
emp

{'Name': ['Aravind', 'Raju', 'Jayant'],
 'Age': [25, 99, 44, 25],
 'Designation': ['DS', 'DC', 'JDS'],
 'Subject': ['ML', 'AI', 'STATS']}

# Methods

In [19]:
emp_1 = emp.copy()
emp_1

{'Name': ['Aravind', 'Raju', 'Jayant'],
 'Age': [25, 99, 44, 25],
 'Designation': ['DS', 'DC', 'JDS'],
 'Subject': ['ML', 'AI', 'STATS']}

In [20]:
emp_1.items()

dict_items([('Name', ['Aravind', 'Raju', 'Jayant']), ('Age', [25, 99, 44, 25]), ('Designation', ['DS', 'DC', 'JDS']), ('Subject', ['ML', 'AI', 'STATS'])])

In [21]:
emp_1.keys() # this will return keys

dict_keys(['Name', 'Age', 'Designation', 'Subject'])

In [22]:
emp_1.values() # this will return values

dict_values([['Aravind', 'Raju', 'Jayant'], [25, 99, 44, 25], ['DS', 'DC', 'JDS'], ['ML', 'AI', 'STATS']])

In [23]:
emp_1.pop('Designation') # shift + tab

['DS', 'DC', 'JDS']

In [24]:
emp_1

{'Name': ['Aravind', 'Raju', 'Jayant'],
 'Age': [25, 99, 44, 25],
 'Subject': ['ML', 'AI', 'STATS']}

In [26]:
emp

{'Name': ['Aravind', 'Raju', 'Jayant'],
 'Age': [25, 99, 44, 25],
 'Designation': ['DS', 'DC', 'JDS'],
 'Subject': ['ML', 'AI', 'STATS']}

In [25]:
emp_1.update({'Sal':'xxxx'})

In [27]:
emp_1

{'Name': ['Aravind', 'Raju', 'Jayant'],
 'Age': [25, 99, 44, 25],
 'Subject': ['ML', 'AI', 'STATS'],
 'Sal': 'xxxx'}

# Remove( )  pop( )  and Insert( ) a value in a Dict

In [4]:
emp

{'Name': ['Aravind', 'Raju', 'Jayant'],
 'Age': [35, 20, 27],
 'Designation': ['DS', 'DC', 'JDS']}

In [6]:
emp['Age'].remove(27)
emp

{'Name': ['Aravind', 'Raju', 'Jayant'],
 'Age': [35, 20],
 'Designation': ['DS', 'DC', 'JDS']}

In [7]:
emp['Age'].insert(1,29)
emp

{'Name': ['Aravind', 'Raju', 'Jayant'],
 'Age': [35, 29, 20],
 'Designation': ['DS', 'DC', 'JDS']}

In [31]:
emp['Designation'].pop(2)
emp

{'Name': ['Aravind', 'Raju', 'Jayant'],
 'Age': [99, 29, 44, 25],
 'Designation': ['DS', 'DC'],
 'Subject': ['ML', 'AI', 'STATS']}

In [32]:
emp

{'Name': ['Aravind', 'Raju', 'Jayant'],
 'Age': [99, 29, 44, 25],
 'Designation': ['DS', 'DC'],
 'Subject': ['ML', 'AI', 'STATS']}

# Pandas for More inbuilt function of tabular

In [35]:
import pandas as pd

In [36]:
table = pd.DataFrame(emp)
table

ValueError: arrays must all be same length

In [37]:
table['Age']

NameError: name 'table' is not defined

In [38]:
table['Age'][0]

NameError: name 'table' is not defined

In [41]:
# create column salary 
emp.update({'Salary':[5000,70000,100000]})

In [42]:
emp

{'Name': ['Aravind', 'Raju', 'Jayant'],
 'Age': [99, 29, 29, 44, 25],
 'Designation': ['DS', 'DC'],
 'Subject': ['ML', 'AI', 'STATS'],
 'Salary': [5000, 70000, 100000]}

In [43]:
pd.DataFrame(emp)

ValueError: arrays must all be same length

In [44]:
l1 = emp['Age']

In [45]:
l1.append(25)

In [46]:
emp['Age'] = l1

In [47]:
emp

{'Name': ['Aravind', 'Raju', 'Jayant'],
 'Age': [99, 29, 29, 44, 25, 25],
 'Designation': ['DS', 'DC'],
 'Subject': ['ML', 'AI', 'STATS'],
 'Salary': [5000, 70000, 100000]}