# Advanced Certification in AI
## A Program by Datafolkz
### Introduction to Python
#### Conditions
In this notebook we will look at Python's conditional constructs and block constructs

Python Conditions and If statements
Python supports the usual logical conditions from mathematics:

- Equals: a == b
- Not Equals: a != b
- Less than: a < b
- Less than or equal to: a <= b
- Greater than: a > b
- Greater than or equal to: a >= b
- These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

# Python if ... else Statement

The **if…elif…else** statement is used in Python for decision making.

# if statement syntax

    if test expression:

        statement(s)

The program evaluates the test expression and will execute statement(s) only if the text expression is ` True.`

If the text expression is `False, the statement(s) is not executed.`

- `Python interprets non-zero values as True. None and 0 are interpreted as False.`

if condition:

    statement
    
else:

    statement

### Important Points to be noted
- Colon
- Indentation

# Flow Chart

![image.png](attachment:image.png)

### If Statements

In [ ]:
a = 8
b = 10
if a < b: # Condition
    print("a is less than b") # Statement

a is less than b

In [ ]:
name = "Aravind"
if name == "Aravind": 
    print("My name is Aravind")

My name is Aravind

In [ ]:
name = "Aravind"
if name == "Arvind": 
    print("My name is Aravind")

### Else

In [ ]:
name = "Aravind"
if name == "Arvind": 
    print("My name is Aravind")
else:
    print("This is not Aravind")

This is not Aravind

#### Simple Conditions and blocks

In [ ]:
attendancePercentage = 70
# In the code below the two print statements are one block. 
# They are indented by 4-spaces to conPythonvey that
if attendancePercentage < 75:
    print("Attendance requirement for Merit certificate not met")
    print("Partcipation Certificate only")

Attendance requirement for Merit certificate not met
Partcipation Certificate only

In [ ]:
attendancePercentage = 80
# In the code below the two print statements are one block. 
# They are indented by 4-spaces to convey that
if attendancePercentage < 75:
    print("Attendance requirement for Merit certificate not met")
    print("Partcipation Certificate only")

As you can see there is no output if the condition is not met

##### Else Statement

In [ ]:
attendancePercentage = 80

if attendancePercentage < 75:
    print("Attendance requirement for Merit certificate not met")
    print("Partcipation Certificate only")
else:
    print("Attendance requirement for Merit certificate met")
    print("Verify grades")

Attendance requirement for Merit certificate met
Verify grades

##### Else if ladder

In [ ]:
attendancePercentage = 80
gradePoints = 320
if attendancePercentage < 75:
    print("Attendance requirement for Merit certificate not met")
    print("Participation Certificate only")
elif gradePoints < 300:
    print("Attendance requirement for Merit certificate met")
    print("But insufficient grade")
    print("Participation Certificate only")
else:
    print("Attendance requirement for Merit certificate met")
    print("Grade Requirement for Merit Certificate met")

Attendance requirement for Merit certificate met
Grade Requirement for Merit Certificate met

### Using if else in Lists

In [ ]:
list1 = ['a','b','c']
list2 = ['abc', 'def', 'd', 'hello']

### Using Membership Test

-  `in and not in `

In [ ]:
if 'c' in list1:
    print("great")
else: 
    print("inside else")

great

In [ ]:
if 'c' not in list1:
    print("great")
else: 
    print("inside else")

inside else

#### Simple While loop

In [ ]:
#Lets write a while loop to print numbers from 0 to 4 
x = 0
while x < 5:
     print(x)
     x += 1

0
1
2
3
4

#### Combining conditions
We can combine conditions using **and**, **or** and **not** operators

In [ ]:
attendancePercentage = 80
gradePoints = 290
if attendancePercentage >= 75 and gradePoints >= 300:
    print("Attendance and grade requirement for Merit certificate met")
else: 
    print("Either attendance of grade (or both) insufficient")
    print("Participation certificate only")

Either attendance of grade (or both) insufficient
Participation certificate only

##### More on blocks
* blocks start below a line ending in :
* all lines in a block are indented (by 4 spaces)
* Nested blocks --> nested indenting
* End of block --> unindent

In [ ]:
mark = 76
if mark < 40:
    status = "Fail"
    letterGrade = "F"
else:
    status = "Pass"
    if mark < 50:
        letterGrade = "D"
    elif mark < 60:
        letterGrade = "C"
    elif mark < 75:
        letterGrade = "B"
    elif mark < 90:
        letterGrade = "A"
    else:
        letterGrade = "A+"

# Nested if Statements

In [ ]:
num = int(input("Enter a number"))

if num >= 0:
    
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative Number")

Enter a number-25
Negative Number

In [ ]:
location = ["Hyderabad","Bengaluru","Mumbai"]
player_type = input("Enter player type = ")
No_of_Hundreds = int(input("Enter number of Hundreds: "))
Player_Location = input("Enter City = ")

if Player_Location in location:
    if player_type.lower() == "batsmen":
        if No_of_Hundreds >= 5:
            print("In the Squad")
        else:
            print("Not Selected")
    else:
        print("We need a batsmen")
            
else:
    print("Location not in list")

Enter player type = batmen
Enter number of Hundreds: 20
Enter City = Hyderabad
We need a batsmen

# if...elif...else Statement
- We can have a if...elif...else statement inside another if...elif...else statement. This is called nesting in computer programming.

# Syntax:

    if test expression:
    
        Body of if statement
        
    elif test expression:
    
        Body of elif statement
        
    else: 
    
        Body of else statement

# Flow Chart

![image.png](attachment:image.png)

# Example:

In [ ]:
num = int(input("Enter a Number: "))

if num > 0:
    print("Positive number")
elif num == 0:
    print("ZERO")
else:
    print("Negative Number")

Enter a Number: 20
Positive number

**Write a program to find the grade of a person**

In [ ]:
marks=int(input("Enter your marks: "))
if marks>=90:
    print("Your Grade is: A")
    
elif marks>=80 and marks<89:
    print("Your Grade is: B")
    
elif marks>=70 and marks<79:
    print("Your Grade is: C")
    
elif marks>=60 and marks<69:
    print("Your Grade is: D")
    
else:
    print("Your Grade is: F ")

Enter your marks: 21
Your Grade is: F

#### **Create a dictionary with keys which are username and values with their password and name with creditials**


> eg: `{'Sri':'sri123','ram':'ram123','Rakesh':'rakesh123',
'Akshay':'aks123','Chandrashekar':'cha123','Padma':'pad123'}`

*Ask user to enter his username and password*
- if username and password matches with creditials then print welcome
> eg: > username: sri and password: sri123 

'Hello Sri welcome to lets start cricket'

if username or password is wrong then ask for the signup and then get update the credentials in the database

In [ ]:
credentials= {'Rohith':'rohith123',
             'Virat':'virat123',
             'Sharma':'sharma123',
             'Kohli':'kohli123',
             'Dhoni':'dhoni123', 
             'Yuvi' : 'yuvi123'}

In [ ]:
credentials.keys(),credentials.values()

(dict_keys(['Rohith', 'Virat', 'Sharma', 'Kohli', 'Dhoni', 'Yuvi']),
 dict_values(['rohith123', 'virat123', 'sharma123', 'kohli123', 'dhoni123', 'yuvi123']))

In [ ]:
username = input('Please Enter your username: ')
password = input('Please Enter you password: ')

if username not in credentials.keys():
        print('username is not in database')
        ask = input('Would you like to sign up: y/n: ')
        if ask.lower() == 'y':
            username = input('Enter your New username: ')
            password = input('Enter you New password: ')
            
            credentials.update({username:password})
            print("Added Successfully")
            print(credentials)
        else:
            print('Thank you !!!')

elif credentials[username] == password:
    print('Hello {} welcome, Lets start the game !!!'.format(username))
    # nested if condition (or nested statements)
else:
    print('Username or password is wrong')

Please Enter your username: Aravind
Please Enter you password: 100000
username is not in database
Would you like to sign up: y/n: y
Enter your New username: niharika
Enter you New password: 100000
Added Successfully
{'Rohith': 'rohith123', 'Virat': 'virat123', 'Sharma': 'sharma123', 'Kohli': 'kohli123', 'Dhoni': 'dhoni123', 'Yuvi': 'yuvi123', 'niharika': '100000'}

## More Examples

>  
  1. write a program to read 3 numbers and check which number is greater

In [ ]:
num1= int(input("Enter first number: "))
num2= int(input("Enter second number: "))
num3= int(input("Enter third number: "))
if num1>num2 and num1>num3:
    print("The first number is greater")
    if num1==num2 or num1==num3:
        print("The entered numbers are equal. Please enter the numbers again")
elif num2>num3 and num2>num1:
    print("The second number is greater")
    if num2==num1 or num2==num3:
        print("The entered numbers are equal. Please enter the numbers again")
elif num3>num1 and num3>num2:
    print("The third number is greater")
    if num3==num1 or num3==num2:
        print("The entered numbers are equal. Please enter the numbers again")
else:
    print("All the numbers are equal")

Enter first number: 56
Enter second number: 87
Enter third number: 34
The second number is greater

2. write a program, that user will enter the two numbers and your program need to tell which number is greater   and if both are equal print both are equal

In [ ]:
n1=int(input("Enter the first number: ")); 
n2=int(input("Enter the second number: "))
if n1>n2:
    print("The first number is greater")
elif n2>n1:
    print("The second number is greater")
else:
    print("The numbers are equal")

### Python program to find the largest element among three Numbers

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

if (num1 >= num2) and (num1 >= num3):           #logical operator   and
    largest = num1
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
else:
    largest = num3
print("Largest element among three numbers is: {}".format(largest))

Enter the first number: 45
Enter the second number: 55
Enter the third number: 65
Largest element among three numbers is: 65

## For Loop

The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects. 
    
Iterating over a sequence is called traversal.

# Syntax:

    for element in sequence :

        Body of for Loop

- Here, element is the variable that takes the value of the item inside the sequence on each iteration.

- Loop continues until we reach the last item in the sequence.

## Flow Chart

![image.png](attachment:image.png)

## Create a List from 0 to 100

- Range() Function



- We can generate a sequence of numbers using range() function. range(10) will generate numbers from 0 to 9 (10 numbers).

- We can also define the start, stop and step size as **range(start,stop,step size)**. step size defaults to 1 if not provided.

- This function does not store all the values in memory, it would be inefficient. So it remembers the start, stop, step size and generates the next number on the go.

In [ ]:
#Its just return a python Object 
range(10)

range(0, 10)

In [ ]:
#Converting into List
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#print range of numbers from 400 to 500 with step size of 10
list1 =list(range(400,500,10))
list1

[400, 410, 420, 430, 440, 450, 460, 470, 480, 490]

In [ ]:
#print range of numbers from 500 to 400 with step size of -10

list1 =list(range(500,400,-10))
list1

[500, 490, 480, 470, 460, 450, 440, 430, 420, 410]

In [ ]:
#print range of 10
for i in range(10):
    print(i+2)

2
3
4
5
6
7
8
9
10
11

## Printing Datafolkz 10 times

In [ ]:
for i in range(10):
    print(i)              # Statement ( Loop for the IF Statement)
    print('Datafolkz')
    
print('out of the loop')  # out of loop

0
Datafolkz
1
Datafolkz
2
Datafolkz
3
Datafolkz
4
Datafolkz
5
Datafolkz
6
Datafolkz
7
Datafolkz
8
Datafolkz
9
Datafolkz
out of the loop

In [ ]:
lst = ["Data", "Folkz", "Python", "DataScience", "AI"]

for ele in lst:
    print(ele)

Data
Folkz
Python
DataScience
AI

- iterate over the list using index
- for index in range(len(lst)):
- print(lst[index])

In [ ]:
lst = ["Data", "Folkz", "Python", "DataScience", "AI"]
for index in range(len(lst)):
    print(lst[index])

Data
Folkz
Python
DataScience
AI

In [ ]:
lst = ["Data", "Folkz", "Python", "DataScience", "AI"]
for i in range(len(lst)):
    print(i,'-',lst[i])

0 - Data
1 - Folkz
2 - Python
3 - DataScience
4 - AI

#### Generate 10 random number in the range of  0 to 30

In [ ]:
import random
randl = []
print(type(randl))

print('Intial list =', randl)
print('\n')
for i in range(10):
   
    randl.append(random.randint(0,30))
    print('Iter {} , list = {}'.format(i,randl),'\n')
    
print("-" * 50)
print('After the loop =',randl)

<class 'list'>
Intial list = []


Iter 0 , list = [9]

Iter 1 , list = [9, 8]

Iter 2 , list = [9, 8, 23]

Iter 3 , list = [9, 8, 23, 17]

Iter 4 , list = [9, 8, 23, 17, 16]

Iter 5 , list = [9, 8, 23, 17, 16, 27]

Iter 6 , list = [9, 8, 23, 17, 16, 27, 18]

Iter 7 , list = [9, 8, 23, 17, 16, 27, 18, 19]

Iter 8 , list = [9, 8, 23, 17, 16, 27, 18, 19, 26]

Iter 9 , list = [9, 8, 23, 17, 16, 27, 18, 19, 26, 26]

--------------------------------------------------
After the loop = [9, 8, 23, 17, 16, 27, 18, 19, 26, 26]

## Find product of all numbers present in a list using for loop

In [ ]:
#Find product of all numbers present in a list

lst = [10, 20, 30, 40, 50]

product = 1

#iterating over the list
for ele in lst:
    print("current indexing value in ", ele, '\n')
    print("current product value at this ele is :",product)
    product *= ele #  multiply product * ele( iterate each index value of list "lst")
    
    print("current product after multiplying with each ele:", product, '\n')
    
    print("-"*50)

print(" final Product is: {}".format(product))

current indexing value in  10

current product value at this ele is : 1
current product after multiplying with each ele: 10

--------------------------------------------------
current indexing value in  20

current product value at this ele is : 10
current product after multiplying with each ele: 200

--------------------------------------------------
current indexing value in  30

current product value at this ele is : 200
current product after multiplying with each ele: 6000

--------------------------------------------------
current indexing value in  40

current product value at this ele is : 6000
current product after multiplying with each ele: 240000

--------------------------------------------------
current indexing value in  50

current product value at this ele is : 240000
current product after multiplying with each ele: 12000000

--------------------------------------------------
 final Product is: 12000000

In [ ]:
#print range of numbers from 1 to 20 with step size of 5
for i in range(0, 100, 10):
    print(i)

0
10
20
30
40
50
60
70
80
90

## For loop with else

A for loop can have an optional else block as well. The else part is executed if the items in the sequence used in for loop exhausts.

Break statement can be used to stop a for loop. In such case, the else part is ignored.

Hence, a for loop's else part runs if no break occurs.

In [ ]:
numbers = [1, 2, 3]

#iterating over the list
for item in numbers:
    print(item)
else:
    print("no item left in the list")

1
2
3
no item left in the list

In [ ]:
for item in numbers:
    print(item)
    if item % 2 == 0:
        break
else:
    print("no item left in the list")

1
2

## Python Program to display all prime numbers within an interval

In [ ]:
index1 = int(input("Enter Index1 number: "))
index2 = int(input("Enter Index2 number: "))

print("Prime numbers between {0} and {1} are :".format(index1, index2))

for num in range(index1, index2+1):      #default step size is 1
    if num > 1:
        isDivisible = False;
        for index in range(2, num):
            if num % index == 0:
                isDivisible = True;
        if not isDivisible:        
            print(num);

Enter Index1 number: 23
Enter Index2 number: 46
Prime numbers between 23 and 46 are :
23
29
31
37
41
43

#### Find list of words
- starts with 'e' in text
- ends with 'e'
- starts with 'd'

In [ ]:
text = """Data Science is a process of extracting knowledge from the data, 
which has several process like data preparation, analysis and modelling.
Data Preparation takes 70% of data science project rest is all about analysis and modelling."""
print(text)

Data Science is a process of extracting knowledge from the data,
which has several process like data preparation, analysis and modelling.
Data Preparation takes 70% of data science project rest is all about analysis and modelling.

In [ ]:
# step -1: Splitting Text into Tokens/words by using split function
text = text.lower()
tokens  = text.split()
print(tokens)

['data', 'science', 'is', 'a', 'process', 'of', 'extracting', 'knowledge', 'from', 'the', 'data,', 'which', 'has', 'several', 'process', 'like', 'data', 'preparation,', 'analysis', 'and', 'modelling.', 'data', 'preparation', 'takes', '70%', 'of', 'data', 'science', 'project', 'rest', 'is', 'all', 'about', 'analysis', 'and', 'modelling.']

In [ ]:
# list of words starts with 'e'
start_e = []
for words in tokens:
    if words.startswith('e'):
        start_e.append(words)
start_e

['extracting']

In [ ]:
# list of words ends with 'e'
end_e = []
for words in tokens:
    if words.endswith('e'):
        end_e.append(words)
end_e

['science', 'knowledge', 'the', 'like', 'science']

In [ ]:
# list of words starts with 'd'
start_d = []
for words in tokens:
    if words.startswith('d'):
        start_d.append(words)

(start_d)

['data', 'data,', 'data', 'data', 'data']

#### Print the words until word process in tokens List  If you find word 'process' in tokens List , break the loop.

In [ ]:
for words in tokens:
    print(words)
    if words == 'like':
        break

data
science
is
a
process
of
extracting
knowledge
from
the
data,
which
has
several
process
like

## Creating 100 random numbers using random  fucntion with for loop

In [ ]:
import random
rand = []
for i in range(100):
    num = random.randint(0,100)
    rand.append(num)
    
print(rand)

[69, 50, 93, 55, 100, 38, 88, 89, 46, 58, 54, 45, 68, 28, 18, 10, 93, 9, 59, 8, 35, 64, 39, 100, 46, 55, 83, 64, 37, 7, 76, 83, 68, 54, 26, 31, 92, 76, 32, 14, 79, 8, 98, 98, 43, 83, 56, 24, 89, 64, 49, 78, 53, 60, 97, 99, 64, 52, 93, 67, 11, 50, 56, 77, 43, 2, 25, 9, 25, 41, 76, 1, 25, 60, 45, 23, 66, 44, 23, 94, 37, 52, 37, 68, 18, 33, 19, 21, 87, 91, 41, 76, 50, 21, 65, 42, 62, 2, 5, 40]

## Find and create a list of even number in rand

In [ ]:
# even number
import random
even = []
for i in rand:
    if i != 0:
        if i %2 == 0:
            even.append(i)
print('Even number are :\n',even)
print('='*79)

Even number are :
 [50, 100, 38, 88, 46, 58, 54, 68, 28, 18, 10, 8, 64, 100, 46, 64, 76, 68, 54, 26, 92, 76, 32, 14, 8, 98, 98, 56, 24, 64, 78, 60, 64, 52, 50, 56, 2, 76, 60, 66, 44, 94, 52, 68, 18, 76, 50, 42, 62, 2, 40]
===============================================================================

## Find and create a list of number divisible by 5 in rand

In [ ]:
# divisible by 5
div5 = []
for i in rand:
    if i != 0:
        if i %5 == 0:
            div5.append(i)
print('Divisible by 5 number are :\n',div5)
print('='*79)

Divisible by 5 number are :
 [50, 55, 100, 45, 10, 35, 100, 55, 60, 50, 25, 25, 25, 60, 45, 50, 65, 5, 40]
===============================================================================

In [ ]:
# Using Dictionary in for loop

inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}

for akey in inventory.keys():     # the order in which we get the keys is not defined
    print("Got key", akey, "which maps to value", inventory[akey])
print('*'*50,'\n')
ks = list(inventory.keys())
print(ks)

Got key apples which maps to value 430
Got key bananas which maps to value 312
Got key oranges which maps to value 525
Got key pears which maps to value 217
**************************************************

['apples', 'bananas', 'oranges', 'pears']

In [ ]:
inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}

print('values:')
print(list(inventory.values()))
print('*'*50,'\n')
print('Items:')
print(list(inventory.items()))
print('*'*50,'\n')

for (k,v) in inventory.items():
    print("Got", k, "that maps to", v)
print('*'*50,'\n')
for k in inventory:
    print("Got", k, "that maps to", inventory[k])
print('*'*50,'\n')

values:
[430, 312, 525, 217]
**************************************************

Items:
[('apples', 430), ('bananas', 312), ('oranges', 525), ('pears', 217)]
**************************************************

Got apples that maps to 430
Got bananas that maps to 312
Got oranges that maps to 525
Got pears that maps to 217
**************************************************

Got apples that maps to 430
Got bananas that maps to 312
Got oranges that maps to 525
Got pears that maps to 217
**************************************************

## while Loop

The **while** loop in Python is used to iterate over a block of code as long as the test expression (condition) is true.

## Syntax:

    while test_expression:
        
        Body of while Loop

In [ ]:
The body of the loop is entered only if the test_expression evaluates to True. 

After one iteration, the test expression is checked again. 

This process continues until the test_expression evaluates to False.

## Flow Chart

![image.png](attachment:image.png)

## Example

In [ ]:
loop_condition = True

while loop_condition:
  print("I am a while loop")
  loop_condition = False

I am a while loop

## Lets check the difference between If and While

In [ ]:
count = 0

if count < 5:
    
    print("Hello, I am an if statement and count is", count,'\n')
    count += 1
    print("current count is:", count,'\n')
    print('*****If loop is over*****\n')

while count < 5:
    print("Hello, I am a while and count is", count,'\n')
    count += 1 # count = count + 1
print('*****While loop is over*****\n')

Hello, I am an if statement and count is 0

current count is: 1

*****If loop is over*****

Hello, I am a while and count is 1

Hello, I am a while and count is 2

Hello, I am a while and count is 3

Hello, I am a while and count is 4

*****While loop is over*****

### The break is a one-line statement that means  ''Exit the current loop"

In [ ]:
count = 0

while True:
    print(count)
    count += 1
    print("current count is", count, '\n')
    print("-"*50)
    if count >= 10:
        break       # Do not remove break

0
current count is 1

--------------------------------------------------
1
current count is 2

--------------------------------------------------
2
current count is 3

--------------------------------------------------
3
current count is 4

--------------------------------------------------
4
current count is 5

--------------------------------------------------
5
current count is 6

--------------------------------------------------
6
current count is 7

--------------------------------------------------
7
current count is 8

--------------------------------------------------
8
current count is 9

--------------------------------------------------
9
current count is 10

--------------------------------------------------

### Find product of all numbers present in a list

In [ ]:
lst = [10, 20, 30, 40, 60]

product = 1
index = 0

while index < len(lst):
    print("length of the index is:",len(lst), '\n')
    print("each indexing value are:",lst[index], '\n')
    product *= lst[index]
    print("product value",product, '\n')
    index += 1
    print("current indexing possition is",index, '\n')
    print("-"*45)

print("Product is: {}".format(product))

length of the index is: 5

each indexing value are: 10

product value 10

current indexing possition is 1

---------------------------------------------
length of the index is: 5

each indexing value are: 20

product value 200

current indexing possition is 2

---------------------------------------------
length of the index is: 5

each indexing value are: 30

product value 6000

current indexing possition is 3

---------------------------------------------
length of the index is: 5

each indexing value are: 40

product value 240000

current indexing possition is 4

---------------------------------------------
length of the index is: 5

each indexing value are: 60

product value 14400000

current indexing possition is 5

---------------------------------------------
Product is: 14400000

## while Loop with else

Same as that of for loop, we can have an optional else block with while loop as well.

The else part is executed if the condition in the while loop evaluates to False. The while loop can be terminated with a break statement.

In such case, the else part is ignored. Hence, a while loop's else part runs if no break occurs and the condition is false.

In [ ]:
numbers = [10, 20, 30,40,50]

#iterating over the list

index = 0
while index < len(numbers):  #Checking the length 
    print(numbers[index])
    index += 1
    print("curent indexing:", index)
    
else:
    print("\nno item left in the list")

10
curent indexing: 1
20
curent indexing: 2
30
curent indexing: 3
40
curent indexing: 4
50
curent indexing: 5

no item left in the list

## Python Program to check given number is Prime number or not

In [ ]:
num = int(input("Enter a number: ")) 
#convert string to int
isDivisible = False;
i=2;
while i < num:
    if num % i == 0:
        isDivisible = True;
        print ("{} is divisible by {}".format(num,i) )
    i += 1;
    
if isDivisible:
    print("{} is Not a Prime number".format(num))
    
else:
    print("{} is a Prime number".format(num))

Enter a number: 40
40 is divisible by 2
40 is divisible by 4
40 is divisible by 5
40 is divisible by 8
40 is divisible by 10
40 is divisible by 20
40 is Not a Prime number

## Note: